.DS_Store
TombManyGraves/
bendspacks/
crafttweaker.log
crash-reports/
journeymap/
logs/
minecraftinstance.json
mods/memory_repo/
options.txt
saves/
usercache.json
usernamecache.json

config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/items.csv
config/InvTweaks.cfg
config/jei/worldSettings.cfg
config/splash.properties
